/* styles.css */

/* Other existing styles */

.home-header {
  /* Your header styles */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  text-align: center; /* Center-align the text */
}

.header-text h1 {
  color: #800080; /* Set the font color to purple */
}
.header-text p{
  color: aliceblue;
}
.join-button {
  /* Styles for the 'Join Us' button */
}

/* Example button styles (customize as needed) */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #800080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #544de2;
}
