/* styles.css */

/* Other existing styles */

.home-header {
  align-items: center;
  margin-bottom: 1%;
}

.header-content {
  display: flex;
  justify-content: space-between; /* Align items with space between them */
  align-items: center;
}

.headSize {
  color: #ac07ac;
}

.header-text {
  text-align: center; /* Center-align the text */
}

.header-text h1 {
  color: #2c2c2c; /* Set the font color to purple */
  font-size: 75px; /* Increase the font size */
  margin-bottom: 0; /* Remove default margin */
}

.themebutton {
  margin-right: 0%;
}

.join-button {
  /* Styles for the 'Join Us' button */
  margin-right: 2%;
}

/* Example button styles (customize as needed) */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #37003c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #433172;
}

/* Media query for phone responsiveness */
@media screen and (max-width: 767px) {
  /* Adjust styles for smaller screens if needed */
  .header-text h1 {
    font-size: 36px; /* Further decrease font size for small screens */
  }
}
