/* Home.css */

.home-container {
    /* Add padding or margin to create space between Header and BlogList */
    padding: 20px; /* Adjust this value as needed */
  }
  
  .blog-list-container {
   
      max-width: 1140px;
      width: 95%;
      margin: 0 auto;
      padding: 1rem 0;
    
    /* Optional: Add specific styles for the BlogList container */
  }
  .divider {
    /* Add a grey line (border) to act as a divider */
    border-top: 1px solid #ccc; /* Change color and width as needed */
    margin-top: 10px; /* Adjust spacing above the line as needed */
    margin-bottom: 10px; /* Adjust spacing below the line as needed */
  }
  